body{
  margin:0;
  background:rgb(255, 255, 255)
  font-family: Arial, sans-serif;
}

main{
  width:330px;
  height:714px;
  background:#fff;

  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}
#frame{
  position:absolute;

  width:28vw;
  max-width:160px;
  min-width:90px;

  left:50%;
  top:46%;

  transform:translate(-50%, -50%);
}
#slider{
  position:absolute;

  left:50%;
  top:62%;

  transform:translateX(-50%);

  width:42vw;
  max-width:320px;
  min-width:180px;

  appearance:none;
  -webkit-appearance:none;

  height:18px;
  background:transparent;
}

#slider::-webkit-slider-runnable-track{
  height:3px;
  background:#111;
}

#slider::-webkit-slider-thumb{
  appearance:none;
  -webkit-appearance:none;
  width:15px;
  height:15px;
  border-radius:50%;
  background:#000;
  margin-top:-6px;
  cursor:pointer;
}

.labels{
  position:absolute;

  left:50%;
  top:65%;

  transform:translateX(-50%);

  width:42vw;
  max-width:320px;
  min-width:180px;

  display:flex;
  justify-content:space-between;

  font-size:8px;
}