body{
  margin:0;
  background:#efefef;

  font-family:
  "Hiragino Sans",
  "Yu Gothic",
  sans-serif;
}
main{
  width:330px;
  height:714px;
  background:#fff;

  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}
#frame{
  position:absolute;

  width:80vw;
  max: width 800px;;
  min: width 400px;;

  left:50%;
  top:30%;

  transform:translate(-50%, -50%);
}
#slider{
  position:absolute;

  left:50%;
  top:85%;

  transform:translateX(-50%);

  width:40vw;
  max: width 800px;;
  min-width:400;

  appearance:none;
  -webkit-appearance:none;

  height:18px;
  background:transparent;
}
#slider::-webkit-slider-runnable-track{
  height:3px;
  background:#111;
}

#slider::-webkit-slider-thumb{
  appearance:none;
  -webkit-appearance:none;
  width:15px;
  height:15px;
  border-radius:50%;
  background:#000;
  margin-top:-6px;
  cursor:pointer;
}

.labels{
  position:absolute;

  left:50%;
  top:80%;

  transform:translateX(-50%);

  width:42vw;
  max: width 800px;px;
  min: width 400px;;

  display:flex;
  justify-content:space-between;

  font-size:8px;
}